# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}

# ----------------------------
# OPENTELEMETRY COLLECTOR
# ----------------------------

# Переменные для конфигурации OpenTelemetry Collector
OTEL_IMAGE_NAME=${CORE_OTEL_IMAGE_NAME}
OTEL_GRPC_PORT=${CORE_OTEL_GRPC_PORT}                          # Порт OTLP gRPC
OTEL_BATCH_SIZE=${CORE_OTEL_BATCH_SIZE}                        # Размер пакета batch processor
OTEL_BATCH_TIMEOUT=${CORE_OTEL_BATCH_TIMEOUT}                  # Таймаут batch processor
OTEL_METRICS_PORT=${CORE_OTEL_METRICS_PORT}                    # Порт метрик самого коллектора

# ----------------------------
# elasticsearch
# ----------------------------

ELASTICSEARCH_IMAGE_NAME=${CORE_ELASTICSEARCH_IMAGE_NAME}
ELASTICSEARCH_EXTERNAL_PORT=${CORE_ELASTICSEARCH_EXTERNAL_PORT}

# ----------------------------
# Kibana
# ----------------------------
KIBANA_IMAGE_NAME=${CORE_KIBANA_IMAGE_NAME}
KIBANA_EXTERNAL_PORT=${CORE_KIBANA_EXTERNAL_PORT}

# =============================================================================
# PROMETHEUS
# =============================================================================
# Переменные для конфигурации Prometheus
PROMETHEUS_HOST=${CORE_PROMETHEUS_HOST}                         # Хост Prometheus
PROMETHEUS_PORT=${CORE_PROMETHEUS_PORT}                         # Порт Prometheus
PROMETHEUS_EVALUATION_INTERVAL=${CORE_PROMETHEUS_EVALUATION_INTERVAL}  # Интервал оценки правил

# =============================================================================
# GRAFANA
# =============================================================================
# Переменные для конфигурации Grafana
GRAFANA_PORT=${CORE_GRAFANA_PORT}                              # Порт Grafana
GRAFANA_ADMIN_USER=${CORE_GRAFANA_ADMIN_USER}                  # Логин администратора
GRAFANA_ADMIN_PASSWORD=${CORE_GRAFANA_ADMIN_PASSWORD}          # Пароль администратора
GRAFANA_DATASOURCE_NAME=${CORE_GRAFANA_DATASOURCE_NAME}        # Имя datasource
GRAFANA_DATASOURCE_URL=${CORE_GRAFANA_DATASOURCE_URL}          # URL datasource
GRAFANA_DASHBOARDS_PATH=${CORE_GRAFANA_DASHBOARDS_PATH}        # Путь к дашбордам
